__pycache__/
*.py[cod]
*.pyo
*.pyd
*.bak
*.swp
*.log

venv/
.env/
.venv/
ENV/
env/
venv/

pgdata/
postgres-data/
*.pid
*.tar
*.tmp

alembic/__pycache__/
alembic/versions/__pycache__/

.env
.env.*
!.env.example

.vscode/
.idea/
*.iml

.cache/
.pytest_cache/
.coverage
htmlcov/

.DS_Store
Thumbs.db
desktop.ini
